{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha1"}
        io.pedestal/pedestal.service {:mvn/version "0.6.1"}
        com.s-exp/mina {:mvn/version "0.1.20"}
        javax.servlet/servlet-api {:mvn/version "2.5"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      less-awful-ssl/less-awful-ssl {:mvn/version "1.0.6"}
                      eftest/eftest {:mvn/version "0.6.0"}
                      clj-http/clj-http {:mvn/version "3.12.0"}}}
  :build {:ns-default build
          :replace-paths ["scripts/build"]
          :replace-deps {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}
                         slipset/deps-deploy {:mvn/version "0.2.1"}}}}}
